// TODO: As soon as notifications_redesign feature is 100% rolled out,
// all the 'body.notifications-redesign' wrappers can be removed.
$notifications-filter-box-height: 56px;

body.notifications-redesign  {
  .notifications-grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". notifiable notifiable"
      "notifiable-checkbox content content"
      ". who-when action";
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    align-items: start;

    .notifiable-checkbox { grid-area: notifiable-checkbox; }
    .notifiable { grid-area: notifiable; }
    .who-when { grid-area: who-when; }
    .action { grid-area: action; }
    .content { grid-area: content; }
  }

  .avatars-counter, .simulated-avatar {
    display: inline-block;
    text-align: center;
    width: 1.4375rem;
    height: 1.4375rem;
    line-height: 1.4rem;
    cursor: default;
  }

  .avatars-counter { font-size: 0.6rem; }

  ul.avatars{
    li {
      margin-right: 0;
      &:not(:first-child) { margin-right: -.25rem; }
    }
  }

  #notifications-filter-desktop {
    strong { cursor: pointer; }
    .collapse {
      &.show { border-top: 1px solid $gray-300;}
    }
  }
}

@include media-breakpoint-up(md) {
  body.notifications-redesign {
    #notifications-filter-desktop {
      .collapse { display: block !important; }
    }

    .notifications-grid-container {
      min-height: 6.25rem;
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas:
        ". notifiable who-when action"
        "notifiable-checkbox content content content";
    }
    #notification-action-bar {
      &.sticky-top { top: $top-navigation-height; }
    }
  }
}

@include media-breakpoint-between(xs, sm) {
  body.notifications-redesign {
    #notifications-filter-desktop {
      &.show { border-top: 1px solid $gray-300; }
      &.sticky-top { top: $top-navigation-height; }
      height: $notifications-filter-box-height;
      // To not overlap with the notification action bar
      z-index: calc(#{$zindex-sticky} + 1);

      #filters {
        max-height: 100vw; overflow: auto;
        -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
        -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
        box-shadow: 2px 3px 5px rgba(0,0,0,.2);
      }
    }
    #notification-action-bar {
      &.sticky-top { top: calc(#{$top-navigation-height} + #{$notifications-filter-box-height}); }
    }
  }

  @media (orientation: landscape) {
    body.notifications-redesign {
      #notifications-filter-desktop {
        #filters { max-height: 20vw; }
      }
    }
  }
}
