%h3 Reports:
%ul
  - @appeal.decision.reports.each do |report|
    %li
      = link_to report.reportable_type, report.reportable
      = report.reason

%h3 Decision:
- if @appeal.decision.kind == "favor"
  %p Favored decision
  %p reason:
  = @appeal.decision.reason

%h3 Appeal:
%p Reason for appealing the decision
= @appeal.reason
